.contact {
  min-height: 17vh;
  background-color: var(--primary-color);
}

.contact__flex1 {
  display: flex;
  padding: 1rem 2rem;
}

.contact__title {
  flex: 1;
  font-family: var(--title-font);
  font-size: var(--l);
  font-weight: 700;
}

.contact__flex2 {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contact__contactList {
  font-size: var(--m);
  padding: 0 1.2rem;
}

.contact__contactList-title {
  font-weight: 700;
}

.contact__contactList>ul>li>a{
  text-decoration: none;
  color: black;
}

@media (min-width: 415px) {
  .contact {
    min-height: 20vh;
  }

  .contact__flex1 {
    padding: 2rem 10rem;
  }

  .contact__contactList {
    padding: 0 2rem;
  }
}
