.icons {
  min-height: 35rem;
}

.icons__title {
  text-align: center;
  padding: 4rem 0;
}

.icon__title-surtitle {
  font-size: var(--l);
  font-family: var(--body-font);
  font-weight: 300;
}

.icon__title-title {
  font-family: var(--title-font);
  font-size: var(--xl);
}

.icons__carousel {
  display: flex;
  margin: 0 auto;
  width: var(--content-width);
  justify-content: space-between;
  align-items: center;
}

.icons__icon-txt {
  text-align: center;
}

@media (min-width: 415px) {
  .icons {
    min-height: 45rem;
  }
}
